/* line 1 */
body {
  font-family: Arial;
  font-size: 10pt;
}

/* line 6 */
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

/* line 10 */
th {
  text-align: left;
  background-color: whiteSmoke;
  padding: 4px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

/* line 16 */
tr {
  border-bottom: 1px solid #dddddd;
}

/* line 19 */
.larger {
  font-size: 1.4em;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* line 25 */
.hero-unit {
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
/* line 32 */
.hero-unit div {
  width: 540px;
  margin: 0 auto;
}
/* line 36 */
.hero-unit h1 {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 46px;
  line-height: 1.2;
}
/* line 41 */
.hero-unit h3 {
  line-height: 1;
  font-weight: normal;
}

/* line 47 */
.header img {
  margin-right: 20px;
}

/* line 50 */
textarea.code {
  display: none;
}

/* line 54 */
.dataset h2 {
  background-color: whitesmoke;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  /* line 61 */
  .listnav {
    display: none;
  }
}
/* line 64 */
.listnav {
  list-style: none;
  margin: 0;
}
/* line 67 */
.listnav li {
  margin-bottom: 5px;
  background-color: whiteSmoke;
  padding: 3px;
}
