%div.entry{ :id => idify([ object, (instance ? 'i' : ''), method['name'] ]) }
  %div.bar
    %h3
      = method['signature']
    %span.returns 
      Returns:
      %span.object
        = method['returns']
  %p
    = hamlify( method['description'] )
  - if method['params']
    %h3
      Parameters
    %ul.parameters
      - method['params'].each do |param|
        = partial('/partials/_api_param', :locals => { :param => param })
