- @page_title = "The Miso Project :: Storyboard :: API Reference"
- @layout = "storyboard"

%article.api.storyboard

  %div.api_wrapper
    <?js= content ?>
  %div.nav_wrapper
    %div.nav
      <?js= this.nav ?>
