- @page_title = "The Miso Project :: Dataset :: Examples :: Cabinet Office"
- @layout = "dataset"


%article.dataset
  %section.normal
    %h2
      Exploring government spending
    %p
      This example uses <a href="http://mbostock.github.com/d3/">d3</a> and <a href="http://www.backbonejs.org">backbone.js</a> to build an interactive treemap for exploring <a href="http://www.cabinetoffice.gov.uk/">UK Government Cabinet Office</a> spending.
    %p
      All the code for ths example is <a href='https://github.com/misoproject/cabinet-office'>open on github</a> for you to fork from and have a play!
    %hr
    :plain
      <iframe src="/dataset/examples/cabinet-office/index.html" style="overflow: hidden; background-color: #fff; width: 100%; height: 750px; border: 0;></iframe>
   
