- @page_title = "The Miso Project :: d3.chart :: API Reference"
- @layout = "d3-chart"

%article.api.d3-chart
  %div.api_wrapper
    <?js= content ?>
  %div.nav_wrapper
    %div.nav
      <?js= this.nav ?>
