- @page_title = "The Miso Project :: d3.chart :: Examples"
- @layout = "d3-chart"

%article.d3-chart
  %section.examples
    %div.example
      %a{ :href => '/d3-chart/examples/basic.html' }
        %img{ :src => '/images/examples/barchart.gif' }
        %h2 Defining a Chart
      %p
        This example creates a robust & highly configurable BarChart.
      %p
        This example demonstrates: defining a chart, using it

    %div.example
      %a{ :href => '/d3-chart/examples/extending.html' }
        %img{ :src => '/images/examples/extending.gif' }
        %h2 Extending a chart
      %p
        In this example we create a basic circle chart and then extend it
        to add labels above the circles showing their exact value.
      %p
        This example demonstrates: defining a chart, extending it

    %div.example
      %a{ :href => '/d3-chart/examples/attaching.html' }
        %img{ :src => '/images/examples/composing.jpeg' }
        %h2 Composing Charts
      %p
        In this example we create a chart that is a combination chart of two
        other charts: a bar chart and a pie chart.
      %p
        This example demonstrates: defining a chart, composing/attaching charts