- @page_title = "The Miso Project :: d3.chart :: Tutorials"
- @layout = "d3-chart"

%article.d3-chart.tutorials
  %section
    Many of our guides now live in our github wiki:
    %br/
    %br/
    %h4
      %a{ :href=> "https://github.com/misoproject/d3.chart/wiki"}
        Github Wiki Documentation
    %br/
    %br/
  %section
    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/quickstart' }
        %h2
          Quick Start
        %p
          Start here to get your environment ready to go and create
          your first d3.chart!

    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/definechart' }
        %h2
          Define a Chart
        %p
          Learn how to define your own reusable chart

    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/lifecycle' }
        %h2
          Lifecycle events
        %p
          Learn all about lifecycle events, when to use them and why they exist.

    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/extending' }
        %h2
          Extending charts
        %p
          Learn how to create charts that build on top of other charts
          through the use of <code>extend</code>.


    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/composing' }
        %h2
          Composing Charts
        %p
          Learn how to combine charts together to create single charts
          through the use of <code>attach</code>

    %div.tutorial
      %a{ :href => '/d3-chart/tutorials/contributing' }
        %h2
          Contributing Charts
        %p
          Created a reusable chart you wish to share? Learn how to share it back.
