- @page_title = "The Miso Project :: d3.chart :: Tutorials"
- @layout = "d3-chart"

%article.d3-chart
  %section.tutorial
    %h2 Lifecycle Events
    %p
      The term 'lifecycle events' is used to describe what are otherwise known as joins in d3.
      Specifically, when new data is added to your visualization, existing data is updated or
      data is removed, those are lifecycle events.
    %p
      To learn about lifecycle events, visit our github wiki:

      %ul
        %li
          :plain
            <a href="https://github.com/misoproject/d3.chart/wiki/what-are-lifecycle-events">
              What are lifecycle events?
            </a>
        %li
          :plain
            <a href="https://github.com/misoproject/d3.chart/wiki/available-lifecycle-events">
              Available lifecycle events
            </a>
        %li
          :plain
            <a href="https://github.com/misoproject/d3.chart/wiki/why-lifecycle-events">
              Why lifecycle events?
            </a>



    %a{ :href => '/d3-chart/tutorials/definechart', :style => 'float:left;' }
      %h2
        &laquo; Define a Chart

    %a{ :href => '/d3-chart/tutorials/extending', :style => 'text-align:right;' }
      %h2
        Extending Charts &raquo;
