:plain
  <p>
    <style>
      #ss-form {

      }
      #ss-form .ss-q-title {
        font-weight: bold;
        color: #009b67;
      }
      #ss-form input#entry_1779995333 {
        width: 500px;
      }
      #ss-form #ss-submit {
        margin-top: 15px;
      }
      #ss-form .ss-secondary-text {
        font-size: 0.8em;
        color: #888;
      }
    </style>
    <br />
    <h3>Submit your chart:</h3>
    <form action="https://docs.google.com/forms/d/1VQRZiUrGyoLb80TFKrdNgJpUcyhdckWgpVviWlj9VPY/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
      <div class="ss-form-question errorbox-good">
      <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_941566695"><div class="ss-q-title">Repo name
      <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
      <span class="ss-required-asterisk">*</span></div>
      <div class="ss-q-help ss-secondary-text" dir="ltr">What is the name of our repository? for example: d3.chart.barchart.</div></label>
      <input type="text" name="entry.941566695" value="" class="ss-q-short" id="entry_941566695" dir="auto" aria-required="true">
      </div></div></div> <div class="ss-form-question errorbox-good">
      <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1251772194"><div class="ss-q-title">Chart Description
      <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
      <span class="ss-required-asterisk">*</span></div>
      <div class="ss-q-help ss-secondary-text" dir="ltr">What is your chart in a sentence of two?</div></label>
      <textarea name="entry.1251772194" rows="3" cols="40" class="ss-q-long" id="entry_1251772194" dir="auto" aria-required="true"></textarea>
      </div></div></div> <div class="ss-form-question errorbox-good">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1779995333"><div class="ss-q-title">Github URL
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr">What is the url of your repo?</div></label>
      <input type="text" name="entry.1779995333" value="" class="ss-q-long" id="entry_1779995333" dir="auto">
      </div></div></div>
      <input type="hidden" name="draftResponse" value="[]
      ">
      <input type="hidden" name="pageHistory" value="0">
      <div class="ss-item ss-navigate"><div class="ss-form-entry">
      <input type="submit" name="submit" value="Submit" id="ss-submit"></form>
  </p>