- @page_title = "The Miso Project :: Storyboard :: Tutorials"
- @layout = "storyboard"

%article.storyboard.tutorials
  %section
    %div.tutorial
      %a{ :href => '/storyboard/tutorials/quickstart' }
        %h2
          Quick Start
        %p
          Start here to get your environment ready to go and create
          your first storyboard!

    %div.tutorial
      %a{ :href => '/storyboard/tutorials/async' }
        %h2
          Asyncronous Scenes
        %p
          Learn how to work with asyncronous scenes in your storyboard.

    %div.tutorial
      %a{ :href => '/storyboard/tutorials/remotedata' }
        %h2
          Working with remote data
        %p
          How to use Storyboard to handle data loading with
          Miso.Dataset.
    
    %div.tutorial
      %a{ :href => '/storyboard/tutorials/events' }
        %h2
          Storyboard events
        %p
          Storyboard transitions broadcast lots of events you can bind to.
          

            
