/*
Font: 		Gibson
Style: 		SemiBold
URL: 		http://www.youworkforthem.com/product.php?sku=T2154
Foundry: 	Canada Type
Foundry: 	http://www.youworkforthem.com/designer/14/canada-type
Copyright:	Copyright  2011 Rod McDonald. Published by Canada Type. All rights reserved.
Version: 	1.0
Created:	March 12, 2012
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Gibson SemiBold';
	src: url('gibson-semibold.eot');
	src: url('gibson-semibold.eot?#iefix') format('embedded-opentype'),
	     url('gibson-semibold.woff') format('woff'),
	     url('gibson-semibold.ttf') format('truetype'),
	     url('gibson-semibold.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
