%div.hero-unit.header
  %div
    = img("/images/misobowl.jpg", { :width => "150px", :valign => "middle", :align => "left" })
    %h1 
      The Miso Project
    %h3 
      Open Source Journalism Tools <br />for Interactive Storytelling with Data


%div.about.row
  %p.larger.span12  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%div.projects.row
  %div.project.span4
    %h2 Dataset
    %p.description
      Dataset is a client-side data management library. It provides an easy way to import local
      and remote data, to compute basic statistics on columns and to extract data subsets. Dataset
      is an event-driven library that provides a rich set of events to subscribe to.

  %div.project.span8
    = toRunnableCodeBlock("dataset/creation/basicDatasetCreation")
    
      
