- @layout = "front"


%article
  %section#intro
    =img("/images/logo.png", { :id => 'logo' })
    %div.text
      %p
        Miso is a toolkit designed to expedite the creation of high-quality reactive interactive and data visualisation content. 
      %p
        Miso consists of a client-side dataset library designed to power data visualisations, a component framework for building reusable content and a library of battle-tested components, ready to be assembled together. 

  %section#libraries
    %ul
      %li
        %svg{ :viewBox => "0 0 77.703 72" }
          :plain
            <path id="path2386_3_" fill="#000" d="M27.124,0v14.754c-6.905,4.023-11.551,11.504-11.551,20.066  c0,2.824,0.505,5.528,1.43,8.032l16.178-6.479c-0.137-0.495-0.214-1.016-0.214-1.553c0-3.209,2.602-5.816,5.81-5.816  c3.209,0,5.811,2.607,5.811,5.816c0,1.48-0.555,2.829-1.467,3.855l-0.012-0.027c-1.061,1.193-2.609,1.943-4.332,1.943  c-2.425,0-4.502-1.492-5.366-3.609l-0.021,0.012l-6.158,2.463l-9.993,4c0,0.002-0.001,0.004,0,0.006L0,50.365L8.67,72  c0,0,36.292-14.319,41.09-16.74C57.033,51.342,61.98,43.656,61.98,34.82c0-8.562-4.646-16.043-11.552-20.066V0H27.124z   M60.974,43.666c-2.098,5.254-6.008,9.592-10.957,12.236c-3.105,1.521-10.313,4.35-10.313,4.35L69.038,72l8.665-21.635  L60.974,43.666z"/>
        %span
          Dataset
        %p
          Dataset makes managing the data behind client-side visualisations easy. It takes care of loading, parsing, sorting, filtering and querying of datasets as well as the creation of derivative datasets.
      %li.soon
        %svg{ :viewBox => "0 0 75.707 72" }
          :plain
            <path id="path2384" fill="#999999" d="M37.854,0L21.212,12.09c0.252-0.033,0.509-0.051,0.771-0.051c3.295,0,5.97,2.675,5.97,5.971   c0,3.295-2.674,5.97-5.97,5.97s-5.97-2.675-5.97-5.97c0-0.918,0.208-1.786,0.578-2.562L0,27.499l6.287,19.353   c0.56-2.717,2.965-4.764,5.846-4.764c3.295,0,5.97,2.675,5.97,5.971c0,3.295-2.675,5.969-5.97,5.969   c-1.548,0-2.956-0.586-4.017-1.555L14.459,72h20.528c-1.848-1.016-3.103-2.98-3.103-5.236c0-3.295,2.674-5.97,5.97-5.97   c3.295,0,5.97,2.675,5.97,5.97c0,2.256-1.255,4.221-3.103,5.236h20.527l6.344-19.527c-1.062,0.969-2.47,1.555-4.018,1.555   c-3.295,0-5.971-2.674-5.971-5.969c0-3.296,2.676-5.971,5.971-5.971c2.881,0,5.286,2.047,5.846,4.764l6.287-19.353L59.265,15.553   c0.339,0.75,0.528,1.581,0.528,2.457c0,3.295-2.675,5.97-5.97,5.97c-3.296,0-5.97-2.675-5.97-5.97c0-3.296,2.674-5.971,5.97-5.971   c0.221,0,0.438,0.014,0.653,0.037L37.854,0z M37.854,24.775c8.349,0,15.124,6.775,15.124,15.123c0,8.35-6.775,15.125-15.124,15.125   s-15.124-6.775-15.124-15.125C22.729,31.551,29.505,24.775,37.854,24.775z"/>
            <path id="path2404" fill="#999999" d="M32.375,28.264c0,0-5.666,0.365-5.666,6.461c0,4.965,3.184,5.756,3.184,11.244   c0,3.379-1.492,5.765-1.492,5.765s5.665-0.643,5.665-6.562c0-4.751-3.271-6.111-3.271-11.143   C30.795,30.616,32.375,28.264,32.375,28.264z M39.837,28.264c0,0-5.665,0.365-5.665,6.461c0,4.965,3.184,5.756,3.184,11.244   c0,3.379-1.493,5.765-1.493,5.765s5.666-0.643,5.666-6.562c0-4.751-3.271-6.111-3.271-11.143   C38.258,30.616,39.837,28.264,39.837,28.264z M47.3,28.264c0,0-5.665,0.365-5.665,6.461c0,4.965,3.184,5.756,3.184,11.244   c0,3.379-1.492,5.765-1.492,5.765s5.665-0.643,5.665-6.562c0-4.751-3.271-6.111-3.271-11.143   C45.721,30.616,47.3,28.264,47.3,28.264z"/>
        %span
          Component Framework (June 2012)
        %p
          The Miso Component Framework makes building reuseable, reactive components that are simple to wire together to build complex interactive content easy.
      %li.soon
        %svg{ :viewBox => "0 0 72 72" }
          :plain
            <path xmlns="http://www.w3.org/2000/svg" id="path2386_1_" fill="#999999" d="M34.148,0.001C15.709,0.937,0.911,15.753,0,34.198h9.03  C9.92,20.712,20.712,9.921,34.198,9.03V0.001C34.181,0.001,34.165-0.001,34.148,0.001z M37.802,0.001V9.03  c10.301,0.68,19.032,7.135,22.978,16.157h-5.018c-3.556-6.481-10.207-11.024-17.96-11.64v9.062  c6.021,0.804,10.786,5.568,11.589,11.589H72C71.088,15.737,56.264,0.912,37.802,0.001z M34.198,13.548  c-11.594,0.919-20.725,10.624-20.725,22.453c0,0.607,0.028,1.206,0.075,1.802H0c0.912,18.462,15.736,33.286,34.198,34.198v-9.03  c-10.301-0.68-19.033-7.134-22.978-16.157h5.019c3.557,6.482,10.206,11.025,17.959,11.639v-9.061  c-6.61-0.882-11.714-6.541-11.714-13.391c0-6.851,5.104-12.51,11.714-13.392V13.548z M57.026,35.399v2.403h-7.635  c-0.803,6.021-5.568,10.786-11.589,11.589v9.061c7.753-0.613,14.404-5.158,17.96-11.639h5.018  c-3.945,9.023-12.677,15.478-22.978,16.157v9.03C56.264,71.089,71.088,56.265,72,37.803h-7.365v-2.403H57.026z"/>
        %span
          Component Library (June 2012)
        %p
          The component library contains battle-tested pre-built Miso components ranging from nestable slideshows to network diagrams.

-# %div.hero-unit.header
  -# %div
    -# = img("/images/misobowl.jpg", { :width => "150px", :valign => "middle", :align => "left" })
    -# %h1 
      -# The Miso Project
    -# %h3 
      -# Open Source Journalism Tools <br />for Interactive Storytelling with Data


-# %div.about.row
  -# %p.larger.span12  
    -# Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    -# tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      -# quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        -# consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    -# cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    -# proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

-# %div.projects.row
  -# %div.project.span4
    -# %h2 Dataset
    -# %p.description
      -# Dataset is a client-side data management library. It provides an easy way to import local
      -# and remote data, to compute basic statistics on columns and to extract data subsets. Dataset
      -# is an event-driven library that provides a rich set of events to subscribe to.

  -# %div.project.span8
    -# = toRunnableCodeBlock("dataset/creation/basicDatasetCreation")


