- @page_title = "The Miso Project"
- @layout = "miso"

%article.miso
  %section.intro
    %div.left
      %img{ :src => '/images/logo.png' }
      %p
        Miso is an open source toolkit designed to expedite the creation of high-quality interactive storytelling and data visualisation content.
      %p
        Miso consists of <a href="/dataset">Dataset</a>, a JavaScript client-side data management and transformation library, 
        <a href="/storyboard">Storyboard</a>, a state and flow-control management library &amp; <a href="/d3-chart">d3.chart</a>, a framework for creating reusable charts with d3.js.
      %p
        Miso is in active development, and will have components released as they are completed. Follow along:
        %a{ :href => 'http://www.twitter.com/themisoproject'}@TheMisoProject
        &amp;
        %a{ :href => 'http://www.github.com/misoproject'}Github
