

a { text-decoration: none; }

@mixin colourise( $color ) {
  a, div.text a, section span.color {
    color: $color;
    &:hover {
      color: $color;
    }
  }
  ::selection               { color: #fff; background: $color; }
  ::-moz-selection          { color: #fff; background: $color; }

  a.button:hover {
    background-color: $color!important;
  }

}

$border-color : #ccc;
$background-color : #f7f7f7;
$dark-color : #333;

body {
  background-color: $background-color;
}

article.miso    { @include colourise( #D35E1D ); }
article.dataset { @include colourise( #2585EC ); }
article.storyboard{ @include colourise( #ba3644 ); }
article.d3-chart { @include colourise( #009B67 ); }

@mixin bigtype {
  font-size: ($font-size + 4) / $em;
  line-height: ($font-size + 4) / $em;
}

@mixin normaltype {
  font-size: $font-size-4;
  line-height: ($font-size) / $em;
}

@mixin sanserif {
  font-weight: bold;
  font-family: "facitweb", "Helvetica Neue", "Helvetica", san-serif;
}

@mixin serif {
  font-family: "ff-tisa-web-pro","Georgia", serif;
}

@mixin monospace {
  font-family: 'Monaco', 'DejaVu Sans Mono', monospace;
  background-color: #fff;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
  @include sanserif();
}

div.codeblock {
  cursor: text;
  div.helptext {
    font-size: 8px;
    color: #999;
    font-family: 'Monaco', 'DejaVu Sans Mono', monospace;
    margin-bottom: 10px;
  }
  .CodeMirror {
    margin-bottom: 3px;
  }
}
div.codeblock:hover {
  .CodeMirror {
    box-shadow: 0 0 15px #B1DEFA;
  }
}

article, div.container {
  @include serif();
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: $cols2;
  position: relative;
  @include width(14);

  &.example {
    p {
      @include width ( 7 );
    }
    div.codeblock {
      @include width( 14 );
    }
  }

  div.codeblock {
    pre {
      box-shadow: none;
      padding: none;
    }
    float: left;
    @include width( 8 );
  }

  code {
    @include monospace();
  }

  pre {
    @include monospace();
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  section {
    clear: both;
    p {
      margin-bottom: 1em;
      color: black;
    }
    div.example, div.tutorial {
      @include width( 4 );
      padding: 10px;
      float: left;
      margin-right: 24px;
      margin-bottom: 24px;
      img {
        margin-bottom: 24px;
      }
      min-height: 555px;
    }
    div.tutorial {
      min-height: 140px;
    }
    div.tutorial:hover {
      background-color: white;
      box-shadow: 0 0 5px rgba(0,0,0,.1);
    }
    &.examples, &.tutorials {
      a {
        img {
          border: 1px solid #ddd;
        }
      }
      h1 {
        margin-bottom: 30px;
      }
    }
    &.tutorial {
      @include width( 10 );
      .codeblock {
        @include width( 10 );
        margin-bottom: 30px;
      }
      ul {
        margin-left: 20px;

        li {
          margin-bottom: 10px;
        }
      }
      h3 {
        margin-top: 40px;
      }
      h4 {
        margin-top: 20px;
      }
      div.indent-1 {
        margin-left: 30px;
      }
      div.ext {
        margin-left: 30px;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #eee;

        h3 {
          margin-top: 0px;
        }

        div.download a.button {
          background-color: #eee;
        }
        div.ext-code {
          font-size: 0.8em;
          margin-top: 10px;
        }
      }
    }



    &.intro {
      padding-bottom: 40px - $font-size;
      overflow: hidden;
      border-bottom: 1px solid $border-color;
      margin-bottom: 40px;
      float: left;
      div.download {
        position: absolute;
        right: 0;//: 432px;
        @include width( 8 );
      }
      img {
        margin-bottom: 20px;
      }
      p {
        @include bigtype();
      }
      @include width(14);
      position: relative;
    }

    div.left {
      float: left;
      @include width( 6 );
      margin-right: 24px;
    }

    &.quickstart {
      padding-right: 10px;
      width: 100%;
      overflow: hidden;
      padding-top: 10px;
    }
  }
}

div.download {
  bottom: 40px;
  @include sanserif();
  font-size : $font-size - 2;
  h2 {
    font-size: $font-size;
    padding-bottom: 10px;
  }
  span {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  a.button {
    display: block;
    padding: 6px;
    background-color: #fff;
    font-weight: normal;
    color: #333;
    border-radius: 5px;
    margin-right: 6px;
    float: left;
    &:last-of-type {
      margin-right: 0;
    }
    margin-bottom: 6px;
  }
  a.button:hover {
    color: white
  }
}

.top500 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: ($font-size + 4) / $em;
  line-height: ($font-size + 6) / $em;
}

article.api {
  div.api_wrapper {
    float: right;
    @include width(10);
  }
  section {
    @include width(10);
    float: right;
    clear: none;
    h3.instance {
      margin-top: 50px;
    }
    ul {
      list-style-type: none;
    }

    div.codeblock {
      @include width( 10 );
      margin-bottom: 24px;
      div.CodeMirror-scroll {
        padding-top: 0;
      }
    }


    div.bar {
      overflow: hidden;
      width: 100%;
      padding: 5px;
      @include sanserif();
      color: #fff;
      background-color: #333;
      h3 {
        float: left;
        font-size: $font-size;

      }
      span.returns {
        float: right;
        color: #ddd;
        span.object {
          padding-left: 10px;
          font-style: italic;
        }
      }
    }

    ul.parameters {
      list-style: none;
      li {
        margin-bottom: 48px;
        div.head {
          width: 100%;
          overflow: hidden;
        }
        ul {
          list-style: none;
          li {
            padding-left: 40px;
            margin-bottom: 2px;
          }
        }

        span {
          &.name {
            @include monospace();
          }
          &.type {
            float: right;
            margin-left: 10px;
            @include monospace();
          }
          &.optional {
            line-height: 1.1;
            float: right;
            font-style: italic;
            color: #666;
          }
          &.required {
            line-height: 1.05;
            float: right;
            font-weight: bold;
          }
        }
        p {
          width: 100%;
        }
      }
    }
  }

   div.nav_wrapper {
    @include width(4);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  div.nav{
    @include width(4);
    @include sanserif();
    background-color: #fff;
    ul {
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      list-style: none;
      margin-bottom: 0.5em;
      &.object {
        padding-left: 0;
      }
      span.instance {
        padding-left: 10px;
      }
      li {
        a {
          display: block;
          width: 100%;
        }
        padding-bottom: 0;
        margin-bottom: 0.2em;
      }
      ul {
        padding-top: 0;
        padding-right: 0;
        li {
          padding-left: 10px;
          font-weight: normal;
        }

      }
    }
  }
}

nav {
  padding-top: 15px;
  @include width(14);
  color: #666;
  font-weight: normal!important;
  margin: 0 auto 0 auto;
  @include sanserif();
  height: 70px;

  span {
    margin-right: 30px;
    float: left;
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    &.miso {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid $border-color;
    }
    a {
      color: #000;
      &:hover {
        color: #2585EC
      }
    }
  }
}

footer {
  background-color: #000;
  color: #f7f7f7;
  h2 {
    border-bottom: 1px solid #666;
    font-size: $font-size;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  div.container {
    padding-top: 30px;
    section {
      padding-bottom: 30px;
    }
  }
}
