

a { text-decoration: none; }

@mixin colourise( $color ) {
  section a, div.text a, section span.color { 
    color: $color; 
  }
  ::selection               { color: #fff; background: $color; }
  ::-moz-selection          { color: #fff; background: $color; }

  a.button:hover {
    background-color: $color!important;
  }

}

$border-color : #ccc;
$background-color : #f7f7f7;
$dark-color : #333;

body {
  background-color: $background-color;
}

article.miso    { @include colourise( #D35E1D ); }
article.dataset { @include colourise( #2585EC ); }

@mixin bigtype {
  font-size: ($font-size + 4) / $em;
  line-height: ($font-size + 4) / $em;
}

@mixin normaltype {
  font-size: $font-size;
  line-height: ($font-size) / $em;
}

@mixin sanserif {
  font-weight: bold;
  font-family: "facitweb", "Helvetica Neue", "Helvetica", san-serif;
}

@mixin serif {
  font-family: "ff-tisa-web-pro","Georgia", serif;
}

@mixin monospace {
  font-family: 'Monaco';
  background-color: #fff;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

h1, h2, h3, h4, h5, h6 {
  @include sanserif();
}

article, div.container {
  @include serif();
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding-right: 10px;
  padding-bottom: $cols2;
  position: relative;
  @include width(14);

  div.codeblock {
    float: left;
    @include width( 8 );
  }

  code {
    @include monospace();
  }

  section {
    clear: both;
    p {
      margin-bottom: 1em;
    }
    &.api {
      ul {
        list-style: none;
        li {
          padding-top: 10px;
          border-top: 1px solid $border-color;
          width: 100%;
          overflow: hidden;
        }
        &.params li {
          border-top: 1px solid #dfdfdf;
          div.name {
            display: block;
            height: 100%;
            float: left;
            @include width( 4 );
          }
          span {
            @include monospace();
          }
          p {
            float: left;
            @include width( 6 );
          }
          ul {
            width: 100%;
            padding-left: 40px;
            margin-bottom: 20px;
            li {
              border-top: 1px solid #eee;
              div.name {
                margin-left: 10px;
              }
            }
          }
        }
      }
      h3 {
        margin-bottom: $font-size / 4;
        margin-top: $font-size;
      }
      div.signature {
        height: 100%;
        display: block;
        margin-left: 5px;
        float: left;
        @include width( 4 );
      }
      div.doc {
        float: right;
        margin-left: 5px;
        @include width( 10 );
      }

    }

    &.intro {
      padding-bottom: 40px - $font-size;
      overflow: hidden;
      border-bottom: 1px solid $border-color;
      margin-bottom: 40px;
      float: left;
      img {
        margin-bottom: 20px;
      }
      p {
        @include bigtype();
      }
      @include width(14);
      position: relative;

      div.download {
        position: absolute;
        right: 0;//: 432px;
        bottom: 40px;
        @include width( 8 );
        @include sanserif();
        font-size : $font-size - 2;
        h2 {
          font-size: $font-size;
          padding-bottom: 10px;
        }
        span {
          display: block;
          padding-top: 6px;
          padding-bottom: 6px;
        }
        a.button {
          display: block;
          padding: 6px;
          background-color: #fff;
          font-weight: normal;
          color: #333;
          border-radius: 5px;
          margin-right: 6px;
          float: left;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    div.left {
      float: left;
      @include width( 6 );
      margin-right: 24px;
    }

    &.quickstart {
      padding-right: 10px;
      width: 100%;
      overflow: hidden;
      padding-top: 10px;
    }
  }
}

nav {
  padding-top: 15px;
  @include width(14);
  color: #666;
  font-weight: normal!important;
  margin: 0 auto 0 auto;
  @include sanserif();
  height: 70px;

  span {
    margin-right: 30px;
    float: left;
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    &.miso {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid $border-color;
    }
    a {
      color: #000;
    }
  }
}

footer {
  background-color: #000;
  color: #f7f7f7;
  h2 {
    border-bottom: 1px solid #666;
    font-size: $font-size;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  div.container {
    padding-top: 30px;
    section {
      padding-bottom: 30px;
    }
  }
}
