a { text-decoration: none; }

@mixin colourise( $color ) {
  section a, div.text a, section span.color { 
    color: $color; 
  }
  ::selection               { color: #fff; background: $color; }
  ::-moz-selection          { color: #fff; background: $color; }
}

article.miso    { @include colourise( #D35E1D ); }
article.dataset { @include colourise( #248940 )  }

@mixin bigtype {
  font-size: ($font-size + 4) / $em;
  line-height: ($font-size + 4) / $em;
}

@mixin normaltype {
  font-size: $font-size;
  line-height: ($font-size) / $em;
}

@mixin sanserif {
  font-weight: bold;
}

@mixin serif {
  font-family: "ff-tisa-web-pro","Georgia", serif;
}

h1, h2, h3, h4, h5, h6 {
  @include sanserif();
}

h3, h4 {
  margin-top: 0.5em;
}
nav {
  @include bigtype();
  @include sanserif();
  z-index: 3000;
  a {
    color: #000;
  }
  a.active {
    color: #000;
    @include transition( color 400ms ease-in-out );
  }
}

body article, div.container {
  @include serif();
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding-bottom: $cols2;
  position: relative;
  min-height: $cols10;
  p {
    margin-bottom: $font-size;
  }
  code, pre {
    background-color: #eee;
    padding: 0.3em;
  }
  pre {
    padding: 0.3em;
  }

  section {
    border-top: 1px solid #ddd;
    h2 {
      @include sanserif();
      padding-top: $font-size / 2;
      a { color: #000!important; }
    }

    li {
      list-style-type: none;
      margin-bottom: 0.5em;
    }
    li:before {
      content: "\00BB \0020";
    }
    table {
      th {
        border-bottom: 1px solid #222;
      }
      td {
        padding-left : 2%;
        border-bottom: 1px solid #ddd;
      }
    }
    .api {
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 40px;

      pre {
        border: 1px solid #bbb;
        font-size: 1.2em;
      }
    }
  }

  section.intro {
    border-top: none;
    height: $cols6;
    padding-bottom: $cols1;
  }

  section.big{
    p {
      @include bigtype();
    }      
  }

  section.download ul li {
    display: block;
    span {
      display: block;
      float: left;
      width: $cols3;
    }
    a {
      display: block;
      float: left;
    }
    &:before {
      content: none;
    }
    overflow: hidden;
    width: 100%;
  }
}


footer  {
  min-height: $cols4;
  margin-top: $cols3;
  clear: both;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  width: 100%;

  h2 {
    color: #999;
  }

  div.container {
    margin-top: $cols1;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;

    img {
      display: block;
      margin-right: 25px;
    }
  }

}

