article.miso {
  svg.icon {
    float: left;
    width: $cols1;
    height: 40px;
    float: left;
  }
  section  {
    h2 {
      max-width: $cols3;
      padding-right: 10px;
      display: block;
      float: left;
      font-size: $font-size;
    }
    div.content {
      @include width( 6 );
    }
    &.soon {
      color: #999;
    }
  }
  a {
    color: #000;
  }
}

