@import "frameless";

.soon {
  color: #999;
}

#intro {
  @include bigtype();
  font-family: Georgia;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  clear: both;
}

#libraries {
  @include bigtype();
  margin: 0 auto;
  ul li {
    border-top: 1px solid #ddd;
    padding-top: $font-size*2;
    padding-bottom: $font-size*2;
    list-style-type: none;
    overflow: hidden;
    font-family: Georgia;
    span {
      font-family: helvetica;
      font-weight: bold;
    }
    svg {
      width: $cols1;
      height: 40px;
      float: left;
    }
  }
}

footer  {
  min-height: $cols3;
  margin-top: $cols3;
  @include bigtype();

  background-color: #000;
  color: #fff;
  width: 100%;

  div.container {
    @include width(10);
    margin: 0 auto;
    padding-top: 20px;
    div.by {
      @include width(6);
      float: left;
      img {
        float: left;
        margin-right: 25px;
      }
    }
  }
}


@media screen and (min-width: 19em) {
  #intro {
    @include width(4);
  }

  #logo {
    padding-top: $font-size * 2;
    @include width(4);
    margin: 0 auto;
    display: block;
    padding-bottom: $font-size * 2;
  }

  #libraries {
    @include width(4);
    padding-top: $font-size*2;
  }

  footer div.container, footer div.container div.by {
    @include width(4);
    img {
      margin: 0 auto;
      display: block;
      float: none;
    }
  }

}

@media screen and (min-width: 32em) {
  #intro {
    @include width(6);
  }

  #logo {
    padding-top: $font-size * 2;
    margin: 0 auto;
    display: block;
    padding-bottom: $font-size * 2;
  }

  #libraries {
    @include width(6);
    padding-top: $font-size*2;
  }

  footer div.container {
    @include width(6);
  }
}


@media screen and (min-width: 54em) {
  #logo {
    float: left;
  }

  #intro {
    @include width(10);
    margin-top: $cols1;
    margin-bottom: $cols1;
    div.text {
      margin-top: $cols2;
      float: right;
      @include width(6);
    }
  }


  #libraries {
    @include width(10);

    ul li {
      span {
        display: block;
        float: left;
        width: $cols3;
      }

      p {
        float: left;
        display: block;
        margin-left: $cols1;
        line-height: ($font-size + 4) / $em;
        width: $cols6;
      }
    }

    ol li:last-child {
      border-bottom: 1px solid #bbb;
    }

  }

  footer div.container {
    @include width(10);
    div.by {
      @include width(6);
      float: left;
      img {
        float: left;
        margin-right: 25px;
      }
    }
  }


}


