@import "frameless";

.soon {
  color: #999;
}

@media screen and (min-width: 30em) {
  #logo {
    float: left;
  }

  #intro {
    position: relative;
    @include width(10);
    overflow: hidden;
    clear: both;
    font-size: ($font-size + 4) / $em;
    line-height: ($font-size + 4) / $em;
    margin-top: $cols1;
    margin-bottom: $cols1;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    div.text {
      margin-top: $cols2;
      float: right;
      @include width(6);
    }
  }

  footer  {
    min-height: $cols3;
    margin-top: $cols3;
    font-size: ($font-size + 4) / $em;
    line-height: ($font-size + 4) / $em;

    background-color: #000;
    color: #fff;
    width: 100%;

    div.container {
      @include width(10);
      margin: 0 auto;
      padding-top: 20px;
      div.by {
        @include width(6);
        float: left;
        img {
          float: left;
          margin-right: 25px;
        }
      }
    }
  }

  #libraries {
    @include width(10);
    font-size: ($font-size + 4) / $em;
    margin: 0 auto;

    ul li {
      border-top: 1px solid #ddd;
      padding-top: $font-size*2;
      padding-bottom: $font-size*2;
      list-style-type: none;
      overflow: hidden;
      font-family: Georgia;

      svg {
          width: $cols1;
          height: 40px;
          float: left;
        }

      span {
        font-family: helvetica;
        font-weight: bold;
        display: block;
        float: left;
        width: $cols3;
      }

      p {
        float: left;
        display: block;
        margin-left: $cols1;
        line-height: ($font-size + 4) / $em;
        width: $cols6;
      }
    }

    ol li:last-child {
      border-bottom: 1px solid #bbb;
    }

  }

}
