@import "frameless";

a {
  text-decoration: none;
}

@mixin colourise( $color ) {
  section p a, section li a {
    color: $color;
  }
  ::selection {
    background: $color;
  }
  ::-moz-selection {
    background: $color;
  }
}

article.dataset { @include colourise( #248940 ) }

article.miso { 
  @include colourise( #D35E1D );
  h2 span {
    max-width: $cols2;
    display: block;
    float: left;
    margin-left: 10px;
  }
}

article.dataset section.download ul li {
  @include sanserif();
  display: block;
  font-weight: normal;
  font-size: $font-size - 1!important;
  span {
    display: block;
    float: left;
    width: $cols3;
  }
  a {
    display: block;
    float: left;
  }
  &:before {
    content: none;
  }
  overflow: hidden;
  width: 100%;
}

nav a, h2 a {
  color: #000;
}

footer  {
  min-height: $cols4;
  margin-top: $cols3;
  clear: both;
  overflow: hidden;

  background-color: #000;
  color: #fff;
  width: 100%;

  h2 {
    color: #999;
  }

  div.container {
    margin-top: $cols1;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;

  
    img {
      display: block;
      margin-right: 25px;
    }
  }
}

nav {
  @include bigtype();
  @include sanserif();
  z-index: 3000;
  a.active {
    color: #000;
    @include transition( color 400ms ease-in-out );
  }
}

article.miso, article.dataset {
  section.intro {
    padding-bottom: $cols1;
  }
  section {
    p {
      @include bigtype();
    }
    li {
      @include bigtype();
      list-style-type: none;
      padding-left: 1em;
      text-indent: -1em;
      margin-bottom: 0.5em;
    }
    li:before {
      content: "\00BB \0020";
    }
  }
  section.soon {
    color: #999;
  }
}

body article, div.container {
  @include serif();
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding-bottom: $cols2;
  position: relative;
  min-height: $cols10;
  p {
    margin-bottom: $font-size;
  }

  section {
    svg.icon {
      float: left;
      width: $cols1;
      height: 40px;
      float: left;
    }

    border-top: 1px solid #ddd;
    h2 {
      max-width: $cols3;
      padding-right: 10px;
      display: block;
      float: left;
      @include sanserif();
      @include normaltype();
      padding-top: $font-size / 2;
      padding-bottom: $font-size;
    }
  }
  section.intro {
    border-top: none;
    p {
      @include bigtype();
    }      
  }
}

@media screen and (max-width: 52.5em ) {

  body article, div.container {
    @include width( 6 );
    img.logo {
      display: block;
      @include width( 6 );
      margin: 0 auto;
      margin: $cols1 auto $cols2 auto;
    }

    section {
      margin-top: $cols1;
      width: 100%;
      overflow: hidden;
      h1 {
        margin-bottom: $font-size;
      }
      h2 {
        width: $cols6;
        max-width: $cols6;
      }
      svg {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  footer div.container {
    @include width(6);
    section {
      @include width(6);
      img {
        margin: 0 auto;
      }
    }
  }

  nav {
    width: 100%;
    ul {
      border-bottom: $borders;
    }
    ul li {
      width: 100%;
      padding: $font-size / 2;
      border-top: $borders;
      text-align: center;
    }
    ul li ul {
      display: none;
    }
  }
}


@media screen and (min-width: 52.5em) {

  body article, div.container {
    position: relative;
    @include width( 12 );
    margin: $cols1 auto $cols2 auto;
    div.text {
      float: right;
      @include width(6);
    }
    .logo {
      float: left;
      padding: 0;
      @include width(6);
    }
    section.intro {
      clear: both;
      overflow: hidden;
      height: $cols6;
      div.text {
        margin-top: $cols2;
      }
      width: auto;
      margin-bottom: 0;
      border-top: none;
    }
    section {
      @include width(9);
      float: right;
      clear: both;
      margin-bottom: $cols1;
      div.content {
        float: right;
        @include width( 6 );
      }
    }
  }
  
 
  nav {
    top: 408px;
    position: absolute;
    overflow: hidden;
    @include width( 10 );
    left: 0;
    ul {
      @include width( 2 );
      border-bottom: $borders;
      float: left;
      list-style-type: none;
    }
    ul li {
      display: block;
      width: 100%;
      border-top: $borders;
      overflow: hidden;
      a {
        line-height: 2;
      }

      ul {
        border: none;
        li {
          margin-left: $font-size;
          font-size: ($font-size - 4) / $em;
          border: none;
          a {
            color: #aaa;
          }
        }
      }

    }
  }

  footer div.container {
    @include width(12);
    img {
      float: right;
      margin-right: 25px;
    }
  }

}

