%p 
  The code is hosted on github here:
  %br
  = link_to "https://github.com/misoproject/dataset", "https://github.com/misoproject/dataset"

%p 
  Please submit issues and feature requests here:
  %br
  = link_to "https://github.com/misoproject/dataset/issues", "https://github.com/misoproject/dataset/issues"