%p 
  Code on Github:
  %br
  = link_to "github.com/misoproject/dataset", "https://github.com/misoproject/dataset"

%p 
  Issues and feature requests:
  %br
  = link_to "github.com/misoproject/dataset/issues", "https://github.com/misoproject/dataset/issues"
