%p
  With Dependancies:
%ul
  %li
    %span
      Development 0.0.1 :
    = link_to 'miso.ds.deps.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.js' 
  %li
    %span
      Production 0.0.1 :
    = link_to 'miso.ds.deps.min.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.min.js' 
%br
%p
  Without Dependancies:
%ul
  %li
    %span
      Development 0.0.1 :
    = link_to 'miso.ds.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.js' 
  %li
    %span
      Production 0.0.1 :
    = link_to 'miso.ds.min.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.min.js' 

