%p
  Dataset.js is hosted on Github. You can see the source
  %a{ :href => 'http://github.com/misoproject/dataset'} 
    here.

%h3 With Dependancies:
%p
  = link_to 'miso.ds.deps.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.js' 
  Development - 0.0.1
%p
  = link_to 'miso.ds.deps.min.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.min.js' 
  Production Minified - 0.0.1


%h3 Without Dependancies:
%p
  = link_to 'miso.ds.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.js' 
  Development - 0.0.1
%p
  = link_to 'miso.ds.min.js', 'https://github.com/misoproject/dataset/tree/master/dist/miso.ds.deps.min.js' 
  Production Minified - 0.0.1