- @nav = []
- @nav << { :name => 'Basics', :url => '/dataset' }
- @nav << { :name => 'Examples', :url => '/dataset/examples' }
- @nav << { :name => 'Docs', :url => '/dataset/docs' }
- @nav << { :name => 'API Ref', :url => '/dataset/api' }

