%p
  You can define a comparator as a property during the dataset initialization. This will sort the data during the initial parsing.

  = toRunnableCodeBlock("dataset/sorting/comparatorOnInit")

%p  
  You can sort your Dataset by specifying a comparator function at any later point and calling <code>.sort</code> like so:

  = toRunnableCodeBlock("dataset/sorting/basicSort")

%p
  <b>Note</b> that when you insert values into the dataset, they will be added in the correct place. An addition to a sorted dataset does NOT cause a re-sort of the entire data. The data will be inserted in the right position.


