%p
  Dataset is designed to solve common problems and patterns around client-side dataset manipulation and management:
%p
  %ul
    %li Importing data from distinct sources into a common format
    %li Iterating over data
    %li Computing basic products (min, max etc.)
    %li Being able to subscribe to changes on the data
%p
  Unlike more general client-side model frameworks dataset is designed exclusively for working with matricies/tables of data. This allows dataset to provide a rich set of capabilities bit with this specific use case in mind as well as optimise for large numbers of rows in a standard format.