- @page_title = "The Miso Project :: Dataset :: Tutorials"
- @layout = "dataset"

%article.dataset
  %section.tutorial
    %h2 
      Modifying Data
    %p
      All data modifications should happen through the following <code>add</code>, <code>remove</code> and <code>update</code> methods.

    %h3 Adding a row:
    %p
      To add a row to your dataset, use the <code>add</code> method.
      %pre
        ds.add(rowObject, options);

      = toRunnableCodeBlock("dataset/modify/addRow")

    %h3 Removing a Row:
    %p
      To remove a row from your dataset, use the <code>remove</code> method. There are two ways to remove rows:

      %ul
        %li
          %b By providing a row id:
          %pre ds.remove(rowId, options);
          %i Note the row id is the unique <code>_id</code> identifier each row has.
        %li
          %b By providing a filter function:
          %pre ds.remove(rowFilterFunction, options);
          For example:
          :plain
            <pre>
            // remove all rows where the population is > 1000
            ds.remove(function(row) {
              return (row.population > 1000);
            });
            </pre>
          All rows that pass the filter function will be removed.
   
    %h3 Updating Rows:

    %p
      To update a row, pass the row object with the identifying id property and changed set of attributes,
      an array of objects of the same format or a function that will first be applied to all rows and then
      update the dataset using the changed set of rows. For example::
      %pre ds.update(rowsOrFunction, options);
      For example:
      :plain
        <pre>
        ds.update({
          _id : 12, col1 : newVal, col2 : newVal ...
        });
        </pre>
    %p
      To update rows via a function pass a function that modifies each row in the dataset as it should
      change, or returns false if the row should not be altered. For example:
      :plain
        <pre>
        ds.update(function(row) {
          if (row.value % 2 === 0) {
            row.outcome = true;
            return row;
          } else {
            return false;
          }
        });
        </pre>
    
    %h3 Syncronization
    %p
      If you set <code>sync : true</code> when creating your dataset. The following events will be triggered:
    %p
      Adding a row will trigger the following events in this order:
      %ul
        %li <code>add</code>
        %li <code>change</code>
    %p
      Either remove call will trigger the following events in this order:
      %ul
        %li
          %code remove
        %li
          %code change
    %p
      A call to <code>update</code> will trigger the following events in this order:
      %ul
        %li
          %code update
        %li
          %code change
    %p  
      You can always pass <code>{ silent : true }</code> as the optional <code>options</code> parametere to suppress events.
      For more information about events, see the <a href="/dataset/tutorials/events.html">events tutorial</a>.

    %a{ :href => '/dataset/tutorials/events', :style => 'float:left;' }
      %h2
        &laquo; Events

    %a{ :href => '/dataset/tutorials/products', :style => 'float:right;' }
      %h2
        Computed Values &raquo;  



          
