%nav
  %ul
    - sections.each do |section|
      %li
        %a{ :href => section[:url] }
          = section[:name]
        - if section[:name] == current_section
          %ul
            - sub.each do |sub_section|
              %li
                %a{ :href => '#' + idify(sub_section) }
                  = sub_section
