- @page_title = "The Miso Project :: Dataset :: Examples"
- @layout = "dataset"

%article.dataset
  %section.examples
    %div.example
      %a{ :href => '/dataset/examples/cabinet-office.html' }
        %img{ :src => '/images/examples/cabinet.gif' }
        %h2 Cabinet Office Spending
      %p
        This example uses <a href="http://mbostock.github.com/d3/">d3</a> and <a href="http://www.backbonejs.org">backbone.js</a> to build an interactive treemap that allows you to explore <a href="http://www.cabinetoffice.gov.uk/">UK Government Cabinet Office</a> spending in the 2010/2011 financial year
      %p
        This example demonstrates: grouping &amp; selecting data, remote data files

    %div.example
      %a{ :href => '/dataset/examples/highstockandcsv.html' }
        %img{ :src => '/images/examples/highchart.gif' }
        %h2 Remote CSV Dataset with Highcharts
        %p
          This example pulls a local comma delimited dataset containing world crude oil production since
          1980 to 2004 and graphs it as a line chart using <a href="http://www.highcharts.com/">Highcharts</a>.
        %p
          This example demonstrates: CSV Delimited Data, Time formatting

    %div.example
      %a{ :href => '/dataset/examples/github.html' }
        %img{ :src => '/images/examples/github.gif' }
        %h2 jQuery Sparklines with Github API
        %p
          Remotely fetches commit history for the Dataset project, builds a timeseries
          with a week long interval and renders a basic line chart.
        %p
          This example demonstrates: Remote Importing, countBy and column 'before' coersion callbacks.

    %div.example
      %a{ :href => '/dataset/examples/perlinnoise.html' }
        %img{ :src => '/images/examples/perlinnoise.gif' }
        %h2 Perlin Noise Generation and DOM based rendering
        %p
          Creates a matrix of perlin noise values and renders them progressively using DOM elements only.
        %p
          This example demonstrates: Creating a Dataset from scratch.
