- @page_title = "The Miso Project :: Dataset"
- @layout = "dataset"

%article.dataset
  %section.intro
    %div.left
      %img{ :src => '/images/dataset.png' }
      %p
        Dataset is a JavaScript client-side data transformation and management library.
        Dataset makes managing client-side data easy by handling loading, parsing, 
        sorting, querying & manipulating data from all sorts of sources. 
    %div.download
      %h2
        Download 
        %a{ :href => 'https://github.com/misoproject/dataset/' }
          0.4.0
        [
        %a{ :href => "https://github.com/misoproject/dataset/issues?milestone=16&state=closed", :style => 'font-weight: normal; color: #222;' }
          Changelog
        ]
          
      %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.dev.0.4.0.zip', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Development Zip Bundle']);" }
        &darr; development
      %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.min.0.4.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (No Deps)']);" }
        &darr; production
      %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.deps.min.0.4.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (With Deps)']);" }
        &darr; production with dependencies
      %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.deps.ie.min.0.4.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (With Deps)']);" }
        &darr; production with dependencies [json2.js for IE]
      

  %section.quickstart
    %div.left
      %p
        Data access lies at the heart of a great deal of interactive content. Dataset solves common problems with the traversal, manipulation and management of that data
      %p
        Unlike client-side frameworks that focus on entity modelling, Dataset is designed exclusively for working with matrices/tables of data. This allows a rich set of number crunching capabilities and helps optimise the handling of large numbers of rows
      %p
        In addition to helping load and parse data, Dataset makes it easy to query and select subsets of data, creating "views" that automatically update when the underlying data changes. By binding to events, it's easy to create interfaces onto realtime or user-manipulated data. Dataset provides some standard computations such as min and max and derivatives such as groupings and moving averages.
      %p
        Dataset was created in a way that allows a high degree of extension. We are looking forward to expanding our array of importers, parsers and computational methods.
      %p
        Follow along for releases &amp; announcements at <a href="http://www.twitter.com/themisoproject">@themisoproject</a>
    = toRunnableCodeBlock("dataset/examples/quickstart.js", nil, { :autorun => false })
