- @page_title = "The Miso Project :: Dataset :: Tutorials"
- @layout = "dataset"

%article.dataset.tutorials
  %section
    %div.tutorial
      %a{ :href => '/dataset/tutorials/quickstart' }
        %h2
          Quick Start
        %p
          Start here to get your environment ready to go.
    %div.tutorial
      %a{ :href => '/dataset/tutorials/googlespreadsheets' }
        %h2
          Dataset From Google Spreadsheets
        %p
          Requirements and
          a bookmarklet that can help you do that quickly. &rarr;
    %div.tutorial
      %a{ :href => '/dataset/tutorials/creating' }
        %h2
          Creating a Dataset
        %p
          The many ways of getting your data into a Dataset &rarr;
    %div.tutorial
      %a{ :href => '/dataset/tutorials/livedata' }
        %h2
          Working with Live Data
        %p
          Using the Polling importer to work with data feeds &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/data_types' }
        %h2
          Data Types
        %p
          How the types in Dataset work and how to define custom types &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/accessing_data' }
        %h2
          Accessing Data
        %p
          Getting your data back out &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/events' }
        %h2
          Syncronization & Events
        %p
          Events, event binding and triggering &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/computed' }
        %h2
          Computed Columns
        %p
          Adding "live" columns that are based on your data. &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/modifying_data' }
        %h2
          Modifying Data
        %p
          Modifying your data once it is in dataset &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/products' }
        %h2
          Computed Values
        %p
          Available computations and how to add your own &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/derived' }
        %h2
          Derived Datasets
        %p
          Available methods for deriving datasets from your original data and how to create your own &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/require' }
        %h2
          Require.js
        %p
          Using Dataset with your require.js-based dependency management system.