!!!
%html
  :plain
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  %head
    :plain
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/aow5drr.js' }
    %script{ :type => 'text/javascript' }
      try{ Typekit.load(); } catch(e) {}
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "description", :content => "The Miso Project" }
    %meta{ :name => "name", :content => "The Miso Project" }
    %meta{ :name => "viewport", :content => "width=device-width" }
    %title= @page_title
    %link{ :rel => "stylesheet", :href => "/stylesheets/screen.css" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/codemirror.css" }
    = @extra_styles

  %body
    %nav
      %span.miso
        %a{ :href => '/' }
          &larr; Miso Home
      %span
        %a{ :href => '/d3-chart' }
          Home
      %span
        %a{ :href => '/d3-chart/examples.html' }
          Examples
      %span
        %a{ :href => '/d3-chart/tutorials.html' }
          Tutorials
      %span
        %a{ :href => '/d3-chart/api/index.html' }
          API Doc
      %span
        %a{ :href => '/d3-chart/charts.html' }
          Charts
      %span
        %a{ :href => 'http://www.github.com/misoproject/d3.chart' }
          Code (Github)

    = yield

    %footer
      %div.container
        %section
          %h2
            A joint project between
          %div.content
            %a{ :href => 'http://www.guardian.co.uk/profile/guardian-interactive-department' }
              =img('/images/guardian.png')
            %a{ :href => 'http://www.bocoup.com' }
              =img('/images/bocoup-horizontal-614.gif')

        %section
          %h2
            Formally supported by
          %div.content
            %a{ :href => 'http://www.guardian.co.uk/development' }
              =img('/images/global-dev.png')
            %a{ :href => 'http://www.gatesfoundation.org/' }
              =img('/images/gates.png')

    %script{ :src => "/js/jquery.min.js" }
    %script{ :src => '/js/nav.js' }
    %script{ :src => '/js/lodash.js' }
    %script{ :src => '/js/underscore.deferred.js' }
    %script{ :src => "/js/d3/d3.v3.min.js", :charset => "utf-8" }
    %script{ :src => "/js/d3.chart.js" }
    %script{ :src => "/js/bootstrap/transition.js" }
    %script{ :src => "/js/bootstrap/collapse.js" }
    %script{ :src => "/js/ace-min/ace.js", :type => "text/javascript", :charset => "utf-8"}
    %script{ :src => "/js/acify.js"}

    = @extra_scripts

    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30531498-1']);
        _gaq.push(['_setDomainName', 'misoproject.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
