!!!
%html
  :plain
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->    

  %head

    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "description", :content => "The Miso Project" }
    %meta{ :name => "name", :content => "The Miso Project" }
    %meta{ :name => "viewport", :content => "width=device-width" }

    %title The Miso Project
    
    %link{ :rel => "stylesheet", :href => "/stylesheets/screen.css" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/codemirror.css" }


  %body
    %nav
      %ul
        %li Miso
        %li Dataset
        %li Component Framework
        %li Component Library

    %article
      = yield

    %footer
      %p
        &copy; 2012. The Miso Project, The Guardian, Bocoup. XX
    
    %script{ :src => "/js/jquery.min.js" }
    %script{ :src => "/js/miso.ds.deps.js" }
    %script{ :src => "/js/bootstrap/transition.js" }
    %script{ :src => "/js/bootstrap/collapse.js" }
    %script{ :src => "/js/codemirror.js"}
    %script{ :src => "/js/main.js"}
   
