- @page_title = "The Miso Project :: d3.chart :: Tutorials"
- @layout = "d3-chart"

%article.d3-chart
  %section.tutorial
    %h2 Contributing a chart
    %p
      While d3.chart is <b>not</b> a charting framework, we do hope people use it to create
      many charts that others can incorporate into their applications.

    %p
      We've put a few useful resources if you're interested in publishing your charts:

    %ul
      %li
        :plain
          <a href="https://github.com/misoproject/d3.chart/wiki/chart-contribution">
            Chart contribution guidelines
          </a>


    %a{ :href => '/d3-chart/tutorials/composing', :style => 'float:left' }
      %h2
        &laquo; Composing Charts
