- @page_title = "The Miso Project :: d3.chart :: Tutorials"
- @layout = "d3-chart"

%article.d3-chart
  %section.tutorial
    %h2 Define a chart!
    %p
      See <a href="https://github.com/misoproject/d3.chart/wiki/quickstart">this walkthrough</a> 
      on our github wiki, showcasing how traditional d3 charts relate to d3.chart.

    
    %a{ :href => '/d3-chart/tutorials/quickstart', :style => 'float:left;' }
      %h2
        &laquo; Quickstart

    %a{ :href => '/d3-chart/tutorials/lifecycle', :style => 'text-align:right;' }
      %h2
        Lifecycle Events &raquo;
