- @page_title = "The Miso Project :: d3.chart :: Tutorials"
- @layout = "d3-chart"

%article.d3-chart
  %section.tutorial
    %h2 Extending a chart!
    %p
      There are two ways to extend a chart: Through <code>extend</code> and through <code>mixin</code>.
      Learn how each works, on our <a href="https://github.com/misoproject/d3.chart/wiki/">wiki</a>:

      %ul
        %li
          :plain
            <a href="https://github.com/misoproject/d3.chart/wiki/chart-extend">
              Using <code>extend</code>
            </a>
        %li
          :plain
            <a href="https://github.com/misoproject/d3.chart/wiki/chart-mixin">
              Using <code>mixin</code>
            </a>



    %a{ :href => '/d3-chart/tutorials/lifecycle', :style => 'float:left;' }
      %h2
        &laquo; Lifecycle Events

    %a{ :href => '/d3-chart/tutorials/composing', :style => 'text-align:right;' }
      %h2
        Composing Charts &raquo;
