- @page_title = "The Miso Project :: Dataset :: Examples :: Cabinet Office"


%article.dataset.example
  %section.normal
    :plain
      <iframe src="/dataset/examples/cabinet-office/index.html" style="background-color: #fff; width: 100%; height: 750px; border: 0;></iframe>
   
