- @page_title = "The Miso Project :: Dataset :: Examples :: Cabinet Office"


%article.dataset.example
  %section.normal
    %h2
      Principle areas of Cabinet office spending 2010/2011
    %p
      This example uses d3 to build an interactive treemap that allows you to explore spending by the UK Government Cabinet Office by category and month over the last two years.
    %p
      All the code for ths example is <a href='https://github.com/misoproject/cabinet-office'>open on github</a> for you to fork from and have a play!
    %hr
    :plain
      <iframe src="/dataset/examples/cabinet-office/index.html" style="overflow: hidden; background-color: #fff; width: 100%; height: 750px; border: 0;></iframe>
   
