- @page_title = "The Miso Project :: Dataset :: Examples"
= partial('../partials/dataset/nav_config')
- @extra_scripts = capture_haml do
  %script{ :type => "text/javascript", :src => '/js/flot/excanvas.min.js'}
  %script{ :type => "text/javascript", :src => '/js/flot/jquery.flot.min.js'}
  %script{ :type => "text/javascript", :src => '/js/flot/jquery.flot.stack.min.js'}

%article.dataset
  %section
    = partial("../partials/dataset/topper")
    = toRunnableCodeBlock("dataset/examples/flotandtwitter.js")
    = nav('Examples')

