- @page_title = "The Miso Project :: Dataset :: Examples"
- @layout = "dataset"

- @extra_scripts = capture_haml do
  %script{ :type => "text/javascript", :src => '/js/sparklines/jquery.sparkline.min.js'}

%article.dataset.example
  %section.normal
    %h2 jQuery Sparklines with Github API
    %p
      This example shows the commit history of the Dataset project by pulling
      the commit history from github and displaying it as a simple line chart using the jQuery sparkline library.
    %p
      This example demonstrates: Remote Importing, countBy and column 'before' coersion callbacks.
    %div#barChartContainer{ :style => "height: 100px; width: 50%;" }
      Fetching github data...

  %div{ :style => 'height:800px'}
    = toRunnableCodeBlock("dataset/examples/github.js", "github", { :autorun => true })
