- @page_title = "The Miso Project :: Dataset :: Examples"
- @layout = "dataset"
- @extra_scripts = capture_haml do
  %script{ :type => "text/javascript", :src => '/js/highchart/highcharts.js'}

%article.dataset.example
  %section.normal
    %h2 Remote CSV and Highchart
    %p
      This example pulls a local comma delimited dataset containing world crude oil production since
      1980 to 2004 and graphs it as a line chart using <a href="http://www.highcharts.com/">Highcharts</a>.
    %p
      This example demonstrates: Remote Importing, Delimited Datasets.
    %div#lineChartContainer{ :style => "height: 300px; width: 100%;" }
      %div{ :style => 'padding-top: 30%; width:50%; margin: 0 auto; font-size: 1.5em' }
        Click RUN below to see a results chart

  = toRunnableCodeBlock("dataset/examples/highstockandcsv.js", "highstockandcsv", { :globals => "Miso,_,$,Highcharts", :autorun => true })
