- @page_title = "The Miso Project :: Block"
- @layout = "block"

%article.dataset
  %section.intro
    %div.left
      %img{ :src => '/images/block.png' }
      %p
        Block is a small JavaScript library for wrapping visual components. It aims to simplify
        wiring components together, constructing interactive visuals, extending visual components
        and controlling complex styling.
    %div.download
      %h2
        Download 
        %a{ :href => 'https://github.com/misoproject/block/' }
          0.0.1 alpha
          
      %a.button{ :href => 'https://github.com/downloads/misoproject/block/miso.block.0.0.1.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Block', 'Downloads', 'Unminified, No Dependencies']);" }
        &darr; development
      %a.button{ :href => 'https://github.com/downloads/misoproject/block/miso.block.min.0.0.1.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Block', 'Downloads', 'Minified, No Dependencies']);" }
        &darr; production (minified)
      %a.button{ :href => 'https://github.com/downloads/misoproject/block/miso.block.deps.0.0.1.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Block', 'Downloads', 'Unminified, With Dependencies']);" }
        &darr; development with dependencies
      %a.button{ :href => 'https://github.com/downloads/misoproject/block/miso.block.deps.min.0.0.1.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Block', 'Downloads', 'Minified, With Dependencies']);" }
        &darr; production with dependencies (minified)
      

  %section.quickstart
    %div.left
      %p
        When rendering visual components, we often want to do more than just attach user-driven behaviors to them.
        They might have different states that they enter and exit, they might have custom functionality that should
        or shouldn't be present and they might have styling that is more complex than CSS alone can help with.
      %p
        Block.js is a tiny library that allows one to wrap visual components in a way that makes them easier to integrate
        with other components, quick to extend and simper to maintain the different states of.
      %p
        Follow along for releases &amp; announcements at <a href="http://www.twitter.com/themisoproject">@themisoproject</a>

    :plain
      <style type="text/css">
        
      </style>
    %div#demoblock{ :style => 'float: left; width: 34.5em;'}
    :plain
      <script type="text/javascript">
        function makeOrangeBox() {
          var box = $('<div>', { className : 'demoBox' }).css({
            display : 'none',
            width : '50px',
            height : '50px',
            float : 'left',
            margin: 4,
            backgroundColor : 'orange',
            position : 'relative'
          });
          return box;
        }
      </script>
    = toRunnableCodeBlock("block/examples/quickstart.js", nil, { :autorun => false })
