- @page_title = "The Miso Project :: Dataset :: Tutorials"
- @layout = "dataset"

%article.dataset
  %section.tutorial
    %h2
      Syncronization & Events

    %p
      Dataset has a very rich event system that allows you to subscribe to a variety of events on your dataset. By default, this functionality is <b>NOT ENABLED</b>. This is because event bindings are created automatically in certain cases (see more about selection and filtering) and unless that functionality is needed, there's no reason to create the bindings.
    %p
      To enable evented behavior, set the <code>sync</code> property to <code>true</code> when initializing your dataset.
      :plain
        <pre>
        var ds = new Miso.Dataset({
          data : [
            { one : 12,  two : 40,  three : 40 }
          ],
          sync : true
        });
        </pre>

    %h3 What are the effects of sync:true?
    %p
      By setting sync to true, you are enabling syncronization of data between your original Dataset and anything derived from it such as:
      %ul
        %li
          %a{ :href => '/dataset/tutorials/accessing_data.html' }
            DataViews
          %br
          Any selection created using rows, columns or where will get updated according to the original
          changes in dataset. Any changes created to the DataView will publish the appropriate events.
        %li
          %a{ :href => '/dataset/tutorials/products.html' }
            Products
          %br
          Any changes to the original data will cause products to recompute their value. Products of a Dataset
          that has sync set trigger true, are actual objects (vs just computed values.) To get their values
          you need to call <code>.val()</code>.
        %li
          %a{ :href => '/dataset/tutorials/derived.html' }
            Derived Datasets
          %br
          Any derived dataset will be recomputed when changes occur in the dataset. This is the least efficient of
          the event-driven changes, because the entire derived dataset gets recomputed.

    %h3 Default Events
    %p
      Presently, dataset fires the following events:
      %table
        %tr
          %th Event
          %th Fired When
          %th Precedence
        %tr
          %td
            %code add
          %td
            Fired when adding a row to the dataset by calling <code>.add</code>
          %td
            Primary

        %tr
          %td
            %code remove
          %td
            Fired when removing a row from the dataset by calling <code>.remove</code>
          %td
            Primary

        %tr
          %td
            %code update
          %td
            Fired when updating a row in the dataset by calling <code>.update</code>
          %td
            Primary

        %tr
          %td
            %code change
          %td
            Fired when calling <code>.add</code>, <code>.remove</code> or <code>.update</code>
          %td
            Secondary

        %tr
          %td
            %code sort
          %td
            Fired when a dataset has been sorted.
          %td
            Primary
        %tr
          %td
            %code reset
          %td
            Fired when a dataset has been reset
          %td
            Primary
    %p
      Any of the default events can be prevented by passing the <code>{ silent : true }</code> flag. See the appropriate methods for further instructions.

    %h3 Binding
    %p
      To subscribe to an event, call <code>subscribe</code> like so:
      %pre
        ds.subscribe("add", callback);

    %h3 Event Object
    %p
      When any of the default events trigger (except for <code>sort</code>) an event object gets created and passed down to the callbacks. The event object is structured as follows:

      %ul
        %li An event is of type <code>Miso.Dataset.Event</code>
        %li It has a <code>deltas</code> property that contains all the deltas that were generated for this specific event.

    %h3 Deltas
    %p
      An event is comprised of one or more deltas. Each delta can represent a different operation, allowing a single event to actually represent many modifications.
    %p
      Each delta can look as follows:
      :plain
        <pre>
        {
          // the set of attributes that changed
          changed : { } or value

          // the old values of those attributes
          old : { } or value
        }
        </pre>
    %ul
      %li
        When a row is added, there will only be <code>changed</code> attributes.
      %li 
        When a row is removed, there will only be <code>old</code> attributes.
      %li
        When a row is updated, there will be <code>changed</code> and <code>old</code> attributes.
      %li
        In certain cases the values of <code>changed</code> and <code>old</code> may not be an object but rather a numeric value. More on that in the <b>Computed Values</b> section.

    %h4 Detecting Delta Types:
    %p
      You can always check what type of a delta you've recieved by calling any of the following helper methods:

      %pre Miso.Dataset.Event.isRemove(delta);
      %pre Miso.Dataset.Event.isAdd(delta);
      %pre Miso.Dataset.Event.isUpdate(delta); 

    %p
      For example:
      = toRunnableCodeBlock("dataset/events/basicEventStructure")

    %h3 Custom Events
    %p
      You can publish your own custom events on dataset by just calling <code>publish</code> when needed like so:
      %pre ds.publish("myCustomEvent", arguments...);

    %a{ :href => '/dataset/tutorials/accessing_data', :style => 'float:left;' }
      %h2
        &laquo; Accessing Data

    %a{ :href => '/dataset/tutorials/modifying_data', :style => 'float:right;' }
      %h2
        Modifying Data &raquo;  


          
