- @page_title = "The Miso Project :: Dataset :: API Reference"
- @layout = "dataset"

%article.api.dataset

  %div.api_wrapper
    <?js= content ?>
  %div.nav_wrapper
    %div.nav
      <?js= this.nav ?>
