%article.api
  %div.nav
    %ul
      %li
        %a
          Miso.Dataset
      %ul
        %li.constructor
          Constructor
        %li
          %a 
            Instance Methods
            %ul
              %li
                fetch
              %li
                apply
              %li
                addColumn



  %section.api
    %h2
      Miso.Dataset
    %p
      Est chillwave retro, elit stumptown irure nulla velit consectetur mustache trust fund. Gentrify thundercats cillum chillwave. Post-ironic odd future bespoke esse synth, sustainable terry richardson semiotics food truck photo booth gentrify. Butcher keffiyeh craft beer ethnic nihil beard. 
 
    %div.entry
      %div.bar
        %h3
          new Miso.Dataset( options )
        %span.returns 
          Returns:
          %span.object
            Miso.Dataset
      %p
        Est chillwave retro, elit stumptown irure nulla velit consectetur mustache trust fund. Gentrify thundercats cillum chillwave. Post-ironic odd future bespoke esse synth, sustainable terry richardson semiotics food truck photo booth gentrify. Butcher keffiyeh craft beer ethnic nihil beard. 
      %h2
        Parameters:
      %ul.parameters
        %li
          %div.head
            %span.name
              options
            %span.optional
              optional
            %span.type
              Object
          %p
            Object containing a set of instantiation properties
