
%div.row
  %div.span2
    %h2 Nav

  %div.span10.dataset
    %h1 Dataset
    %p.about
      Dataset is a library that makes it easy to work with data on the client. Dataset makes it painless to import &amp; standardise datsets and then select &amp; manipulate data within them.

    %h2 Why Dataset:
    = partial("../partials/dataset/why_dataset")

    %h2 Dependancies:
    = partial("../partials/dataset/dependancies")

    %h2 Download:
    = partial("../partials/dataset/downloads")

    %h2 Creating a Dataset:
    = partial("../partials/dataset/creating_dataset")

    %h2 Fetching Data:
    

    