- @page_title = "The Miso Project :: Dataset :: Examples"

%article.dataset
  %section.examples
    %h1
      Examples

    %div.example
      %a{ :href => '/dataset/examples/highstockandcsv.html' }
        %img{ :src => '/images/examples/highchart.gif' }
        %h2 Remote CSV Dataset with Highcharts
        %p
          Whatever photo booth commodo carles minim, swag ut banksy before they sold out officia marfa quinoa cardigan magna.

    %div.example
      %a{ :href => '/dataset/examples/rickshawandtwitter.html' }
        %img{ :src => '/images/examples/rickshawandtwitter.gif' }
        %h2 Remote Polling Twitter & Rendering With Rickshaw
        %p
          Remotely polls twitter and plots a stacked bar chart (using Rickshaw) that shows the use of punctuation in tweets for a particular query.
        %p
          This example demonstrates: Polling, Group By, Binding.
    
    %div.example
      %a{ :href => '/dataset/examples/github.html' }
        %img{ :src => '/images/examples/github.gif' }
        %h2 jQuery Sparklines with Github API
        %p
          Remotely fetches commit history for the Dataset project, builds a timeseries
          with a week long interval and renders a basic linechart.
        %p
          This example demonstrates: Remote Importing, countBy and column 'before' coersion callbacks.
    %div.example
      %a{ :href => '/dataset/examples/perlinnoise.html' }
        %img{ :src => '/images/examples/perlinnoise.gif' }
        %h2 Perlin Noise Generation and DOM based rendering
        %p
          Creates a matrix of perlin noise values and renders them progressively using DOM elements only.
        %p
          This example demonstrates: Creating a Dataset from scratch.