- @page_title = "The Miso Project :: Dataset :: Examples"
= partial('../partials/dataset/nav_config')

%article.dataset
  = partial("../partials/dataset/topper")

  %section.examples
    %div.example
      %a{ :href => '/dataset/examples/rickshawandtwitter.html' }
        %img{ :src => '/images/examples/rickshawandtwitter.jpg' }
        %h2 Remote Polling Twitter & Rendering With Rickshaw
        %p
          Remotely polls twitter and plots a stacked bar chart (using Rickshaw) that shows the use of punctuation in tweets for a particular query.
        %p
          This example demonstrates: Polling, Group By, Binding.
    %div.example
      %a{ :href => '/dataset/examples/highstockandcsv.html' }
        %img{ :src => '/images/examples/highchart.jpg' }
        %h2 Remote CSV Dataset with Highcharts
        %p
          Fetches a remote CSV file and plots it as a line chart using the Highcharts API.
        %p
          This example demonstrates: Remote Fetching, CSV Parsing.
    %div.example
      %img{ :src => '/images/examples/flot.jpg' }
      %p
        Readymade jean shorts quinoa sunt, wolf portland deserunt aute esse incididunt twee. Stumptown mixtape mollit banksy chambray, bushwick odd future art party direct trade. Carles polaroid wayfarers, nesciunt biodiesel artisan proident pickled. Skateboard etsy sriracha anim four loko, commodo culpa.
    %div.example
      %img{ :src => '/images/examples/flot.jpg' }
      %p
        Readymade jean shorts quinoa sunt, wolf portland deserunt aute esse incididunt twee. Stumptown mixtape mollit banksy chambray, bushwick odd future art party direct trade. Carles polaroid wayfarers, nesciunt biodiesel artisan proident pickled. Skateboard etsy sriracha anim four loko, commodo culpa.


  = nav('Examples')

