- @page_title = "The Miso Project :: Dataset :: Examples"

%article.dataset
  %section.examples
    %h1
      Examples

    %div.example
      %a{ :href => '/dataset/examples/flotandtwitter.html' }
        %img{ :src => '/images/examples/flottwitter.jpg' }
        %h2 Remote Polling Twitter & Rendering With Flot
        %p
          Remotely polls twitter and plots a pie chart (using flot) that shows ratio between the number of tweets with urls vs those without.
        %p
          This example demonstrates: Polling, Group By, Binding.
    %div.example
      %a{ :href => '/dataset/examples/highstockandcsv.html' }
        %img{ :src => '/images/examples/highchart.jpg' }
        %h2 Remote CSV Dataset with Highcharts
        %p
          Whatever photo booth commodo carles minim, swag ut banksy before they sold out officia marfa quinoa cardigan magna.

