- @page_title = "The Miso Project :: Dataset :: Examples"
= partial('../partials/dataset/nav_config')

%article.dataset
  = partial("../partials/dataset/topper")

  %section.examples
    %div.example
      %a{ :href => '/dataset/examples/flotandtwitter' }
        %img{ :src => '/images/examples/flottwitter.jpg' }
        %h2 Remote Polling Twitter & Rendering With Flot
        %p
          Remotely polls twitter and plots a pie chart (using flot) that shows ratio between the number of tweets with urls vs those without.
        %p
          This example demonstrates: Polling, Group By, Binding.
    %div.example
      %img{ :src => '/images/examples/flot.jpg' }
      %p
        Whatever photo booth commodo carles minim, swag ut banksy before they sold out officia marfa quinoa cardigan magna.
    %div.example
      %img{ :src => '/images/examples/flot.jpg' }
      %p
        Readymade jean shorts quinoa sunt, wolf portland deserunt aute esse incididunt twee. Stumptown mixtape mollit banksy chambray, bushwick odd future art party direct trade. Carles polaroid wayfarers, nesciunt biodiesel artisan proident pickled. Skateboard etsy sriracha anim four loko, commodo culpa.
    %div.example
      %img{ :src => '/images/examples/flot.jpg' }
      %p
        Readymade jean shorts quinoa sunt, wolf portland deserunt aute esse incididunt twee. Stumptown mixtape mollit banksy chambray, bushwick odd future art party direct trade. Carles polaroid wayfarers, nesciunt biodiesel artisan proident pickled. Skateboard etsy sriracha anim four loko, commodo culpa.


  = nav('Examples')

