%article.dataset
  = partial("../partials/dataset/intro")

  %section
    %h2 
      %a#create{ :href => '#create' }
        Base Example 1
        
    %div.content
      = partial("../partials/examples/baseExample")
  