- @page_title = "The Miso Project :: Dataset :: Examples"

%article.dataset
  %section.examples
    %h1
      Examples

    %div.example
      %a{ :href => '/dataset/examples/rickshawandtwitter.html' }
        %img{ :src => '/images/examples/rickshawandtwitter.jpg' }
        %h2 Remote Polling Twitter & Rendering With Rickshaw
        %p
          Remotely polls twitter and plots a stacked bar chart (using Rickshaw) that shows the use of punctuation in tweets for a particular query.
        %p
          This example demonstrates: Polling, Group By, Binding.
    %div.example
      %a{ :href => '/dataset/examples/highstockandcsv.html' }
        %img{ :src => '/images/examples/highchart.jpg' }
        %h2 Remote CSV Dataset with Highcharts
        %p
          Whatever photo booth commodo carles minim, swag ut banksy before they sold out officia marfa quinoa cardigan magna.

