- @page_title = "The Miso Project :: Dataset :: Extensions"
- @layout = "dataset"

%article.dataset
  %section.tutorial
    %h2 Extensions

    %p
      We are delighted to share the various contributions the community makes to the Miso.Dataset family. The following are extensions that have been created by our users. Please let us know if you see any issues or if you have an extension you'd like to list.
    %p
      Written an extension you want listed here? Tweet at <a href="http://twitter.com/themisoproject">@themisoproject</a> or hop on <a href="irc://irc.freenode.net/misoproject">#misoproject</a> channel on irc.freenode to let us know!

  %section.tutorial
    %div.ext
      %h3 
        Miso.fs
        %div.download{ :style => 'float:right;'}
          %a.button{ :href => 'http://github.com/tbranyen/miso.fs', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset.Extensions', 'Downloads', 'Miso.fs']);" }
            Github &rarr; 
      %div.ext-author
        by
        %a{ :href => "http://github.com/tbranyen" }
          Tim Branyen
      %div.ext-about
        A Miso Dataset FileSystem Importer for Node.js environments.
      %div.ext-code
        :plain
          <script src="https://gist.github.com/2775491.js?file=miso.fs.example.js"></script>
    /  
      %div.ext
        %h3 
          Miso.couchdb
          %div.download{ :style => 'float:right;'}
            %a.button{ :href => 'http://github.com/tbranyen/miso.couchdb', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset.Extensions', 'Downloads', 'Miso.couchdb']);" }
              Github &rarr; 
        %div.ext-author
          by
          %a{ :href => "http://github.com/tbranyen" }
            Tim Branyen
        %div.ext-about
          A Miso Dataset CouchDB Importer & Parser for Node.js environments.        
      
