%article.dataset

  %nav
    %ul
      %li 
        %a
          Basics
        %ul 
          %li
            %a{ :href => '#detail'}
              In detail
          %li
            %a{ :href => '#download'}
              Download
          %li
            %a{ :href => '#contributing'}
              Contributing
      %li
        %a
          Examples
      %li
        %a
          Docs
      %li
        %a
          API Reference
      %li
        %a
          Github

  %section.intro
    =img("/images/dataset.png", { :class => 'logo' })
    %div.text
      %p
        Dataset is a javascript library makes managing the data behind client-side visualisations easy, including realtime data. It takes care of loading, parsing, sorting, filtering and querying of datasets as well as the creation of derivative datasets.
      %p
        Dataset is part of the 
        %a{ :href => '/'}
          Miso Toolkit

  %section
    %h2
      %a#detail{ :href => '#detail'} 
        In detail
    %div.content
      %p
        = partial("../partials/dataset/why_dataset")

  %section
    %h2
      %a#download{ :href => '#download'}
        Download
    %div.content
      %h1 Dependencies
      %p= partial("../partials/dataset/dependancies")
      %h1 Download
      %p= partial("../partials/dataset/downloads")


  %section
    %h2
      %a#contributing{ :href => '#contributing'}
        Contributing
    %div.content
      %p
        = partial("../partials/dataset/code")

