- @page_title = "The Miso Project :: Dataset"

%article
  %section.intro
    %p
      %img{ :src => '/images/dataset.png' }
      Dataset makes managing client-side datasets easy. It handles loading, parsing, sorting, querying & manipulating data from anything from a CSV to a Google Spreadsheet painless, including realtime data sources.

  %section.quickstart
    %div.left
      Dataset is designed to solve common problems and patterns around client-side dataset manipulation and management:
    = toRunnableCodeBlock("dataset/examples/quickstart.js", nil, { :autorun => true })
