%article.dataset

  %nav
    %ul
      %li 
        %a
          Basics
        %ul 
          %li
            %a{ :href => '#detail'}
              In detail
          %li
            %a{ :href => '#download'}
              Download
          %li
            %a{ :href => '#contributing'}
              Contributing
      %li
        %a
          Examples
      %li
        %a
          Docs
      %li
        %a
          API Reference
      %li
        %a
          Github

  %section.intro
    =img("/images/dataset.png", { :class => 'logo' })
    %div.text
      %p
        Dataset is a javascript library makes managing the data behind client-side visualisations easy, including realtime data. It takes care of loading, parsing, sorting, filtering and querying of datasets as well as the creation of derivative datasets.
      %p
        Dataset is part of the 
        %a{ :href => '/'}
          Miso Toolkit

  %section
    %h2
      %a#detail{ :href => '#detail'} 
        In detail
    %div.content
      %p
        Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula. Nunc molestie, nisl sit amet cursus convallis, sapien lectus pretium metus, vitae pretium enim wisi id lectus. Donec vestibulum. Etiam vel nibh. Nulla facilisi. Mauris pharetra. Donec augue. Fusce ultrices, neque id dignissim ultrices, tellus mauris dictum elit, vel lacinia enim metus eu nunc.his is a test

  %section
    %h2
      %a#download{ :href => '#download'}
        Download
    %div.content
      %p
        Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. 


  %section
    %h2
      %a#contributing{ :href => '#contributing'}
        Contributing
    %div.content
      %p
        Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. 

