- @page_title = "The Miso Project :: Dataset :: Tutorials"

%article.dataset.tutorials
  %section
    %div.tutorial
      %a{ :href => '/dataset/tutorials/quickstart' }
        %h2
          Quick Start!
        %p
          Start here to get your environment ready to go.
    %div.tutorial
      %a{ :href => '/dataset/tutorials/creating' }
        %h2
          Creating a Dataset
        %p
          Covers creation, importing, parsing and polling &rarr;
    %div.tutorial
      %a{ :href => '/dataset/tutorials/fetching' }
        %h2
          Fetching Data
        %p
          Pulling in remote data and loading local data &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/data_types' }
        %h2
          Data Types
        %p
          How the types in Dataset work and how to define custom types &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/accessing_data' }
        %h2
          Accessing Data
        %p
          Getting your data back out &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/events' }
        %h2
          Events
        %p
          Events, event binding and triggering &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/modifying_data' }
        %h2
          Modifying Data
        %p
          Modifying your data once it is in dataset &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/selection' }
        %h2
          Selecting Data
        %p
          Querying data inside a dataset and creating views &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/products' }
        %h2
          Computed Values
        %p
          Creating products from datasets - mins, max, &amp; means as well as creating your own &rarr;

    %div.tutorial
      %a{ :href => '/dataset/tutorials/derived' }
        %h2
          Derived Datasets
        %p
          Creating datasets derived from existing datasets such as moving averages and how to create your own &rarr;
